<form method='post' action='/videos/<%= @row['id'] %>'>
	  <textarea type='text' name='title' value='<%= @row['title'] %>' placeholder="Title" autofocus></textarea>
      <br>
	  <textarea type='text' name='description' value='<%= @row['description'] %>' placeholder="Description"></textarea>
      <br>
	  <textarea type='text' name='url' value='<%= @row['url'] %>' placeholder="URL"></textarea>
      <br>
	  <textarea type='text' name='genre' value='<%= @row['genre'] %>' placeholder="Genre"></textarea>
      <br><br>
      <iframe width="455" height="315" src="http://www.youtube.com/embed/<%= @row['url'].split("=").last %>" frameborder="3"></iframe>
      <!--<a class="btn btn-warning" href="/videos/ <% @row['id'] %>/edit/">Edit</a>-->
      <!--<button class="btn btn-danger" type="submit">Delete</button>-->
</form>